body{
    font-family: 'Lobster', cursive;
font-family: 'Merriweather', serif;
margin: 0%;
}
h1{font-size: 50px;
}
.orange-colour{color: coral;}
.flexible-container{display: flex;
margin-bottom: 200px;}
.half-width{width: 50%;  
padding-left: 5%;}
.half-width img{ width: 100%;}
.link-button{
    text-decoration: none;
   background-image: linear-gradient(pink, tomato);
    padding: 10px 20px;
    font-weight: 900;
    color: rgb(94, 16, 219);
    border-radius: 15px;
}
.top-banner{background-image: url(/top-banner.png);}
.five-pillar{background-image: url(/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
padding-right: 0%;}
.course-hero{background-image: url(/exp-bg.png);
background-repeat: no-repeat;
background-position: inherit;}
.subject-item{box-shadow: rgb(154, 174, 189) 10px 10px 40px;
width: 40%;
margin-left: 4%;
margin-right: 4%;
padding-left: 10px;
border-radius: 20px;}

#Baby-micro{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#pro-micro{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(51, 221, 17), rgb(76, 24, 218));
    border-image-slice: 1;
}

footer{
    text-align: center;
}